.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}
.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}
.pagecontainer{
    height: 100vh;
}
.section1-bg{
    background-image: linear-gradient(1deg, #3B3F46 0%, #373B42 5%, #13181F 58%);
}

.MuiAutocomplete-listbox{
    background: #1E2128;
    border: 1px solid #41454C;
    box-shadow: 0px 8px 8px -4px rgba(0,0,0,0.1);
    border-radius: 4px;
}
.MuiAutocomplete-option{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-weight: 400;
}
.MuiAutocomplete-option[aria-selected="true"]{
    background: #14181F !important;
    color: #44E7D5 ;
}
.section2-bg{
    background-image: linear-gradient(1deg, #13181F 0%, #13181F 58%);
}
.ant-select{
    color: #999;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background: #1E2128;
    border: 1px solid #41454C;
}
.ant-select-selection-placeholder{
    color: #999;
}